@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@300;400&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@300;400;700&family=Overpass:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Satisfy&family=Source+Code+Pro:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #146C94;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: #f5f5f5;
    height: auto;
    width: 750px;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.first{
    text-align: center;
} 


img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid crimson;
    margin-bottom: 10px;
}

/* h1{
    text-align: center;
    margin-bottom: 5px;
} */

.first p{
    font-size: 16px;
    text-transform: uppercase;
}



.sub_container{
    display: flex;
    flex-wrap: wrap;
}

.left{
    flex: 1;
    padding: 30px;
}

.right{
    flex: 1;
    padding: 30px;
}

h2{
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 15px;
    background-color: #19A7CE;
    border-radius: 1rem;
    color: white;
    box-shadow: -20px 22px 20px rgba(0,0,0,0.3);
}



a{
    text-decoration: none;
}

.edu{
    font-size: 16px;
    font-weight: normal;
}

.work{
    font-weight: bold;
}

p{
    line-height: 1.8;
}

li{
    line-height: 1.8;
}



@media (max-width: 468px) {
    .container{
        height: 100%;
        width: 100%;
        margin: 30px;
    }
    .main{
        flex-direction: column;
    }
}